@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300);
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  font-family: 'Roboto'; }

.container {
  margin: 0 auto;
  max-width: 700px; }

.blogpost {
  position: relative;
  padding: 20px;
  margin: 40px;
  max-width: 600px; }
  .blogpost:nth-child(odd) {
    background-color: #6FC0EC; }
  .blogpost:nth-child(even) {
    background-color: #3A95C9; }
  .blogpost .post {
    color: white; }
  .blogpost h1 {
    border-bottom: 1px white solid;
    padding-bottom: 15px; }
  .blogpost .icon {
    background-color: #A6DCFB;
    height: 50px;
    width: 50px;
    text-align: center; }
    .blogpost .icon .fa {
      margin-left: 0 auto;
      margin-right: 0 auto;
      display: block;
      float: right;
      color: white;
      background-color: #4BA5D8; }

.sidebar {
  position: absolute;
  width: 200px; }
